<div class="page-header">
    <h2>Login</h2>
</div>
<form name="passwordForm" ng-hide="main.appLoading" ng-submit="changePassword.updatePassword()" novalidate>
    <div class="form-group">
        <span class="required"></span>
        <label for="oldp">Old password</label>
        <input type="password" class="form-control" name="oldp" autofocus placeholder="Enter old password" ng-model="changePassword.userData.oldP" required>
        <div class="error" ng-show="passwordForm.oldp.$dirty && passwordForm.oldp.$invalid">
            <span ng-show="passwordForm.oldp.$error.required">Please enter a number.</span>
        </div>
    </div>
    <div class="form-group">
        <span class="required"></span>
        <label for="oldp">New password</label>
        <input type="password" class="form-control" name="newp" placeholder="Enter new password" ng-model="changePassword.userData.newP" required>
        <div class="error" ng-show="passwordForm.newp.$dirty && passwordForm.newp.$invalid">
            <span ng-show="passwordForm.newp.$error.required">Please enter a number.</span>
        </div>
    </div>
    <div class="form-group">
        <span class="required"></span>
        <label for="oldp">Confirm password</label>
        <input type="password" class="form-control" name="confirmp" placeholder="Enter new password again" ng-model="changePassword.userData.confirmP" required>
        <div class="error" ng-show="passwordForm.confirmp.$dirty && passwordForm.confirmp.$invalid">
            <span ng-show="passwordForm.confirmp.$error.required">Please enter a number.</span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" ng-disabled="passwordForm.oldp.$invalid ||  passwordForm.confirmp.$invalid || passwordForm.newp.$invalid">Login</button>

</form>