<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <h2 class="col-md-6">Claim List</h2>
            <div class="col-md-6 text-right" style="margin-top:25px;">
                <i class="fa fa-print" aria-hidden="true" ng-click="users.print()"></i>
            </div>
        </div>
    </div>

    <div class="panel-content">
        <div class="row filter">
            <div class="col-md-2">
                <i class="fa fa-filter fa-lg" aria-hidden="true" data-toggle="collapse" href="#filterContainer"></i>
            </div>
            <div class="col-md-10">
                <div class="form-group col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input ng-model="users.filter" type="text" class="form-control" name="email" placeholder="Search in page">
                    </div>
                </div>
                <ul class=" pagination pull-right ">
                    <li ng-hide="users.filters.skip==0">
                        <a ng-click="prevPage() " ng-disabled="users.filters.skip==0">« Prev</a>
                    </li>

                    <li ng-hide="users.users.length<5">
                        <a ng-click="nextPage() ">Next »</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="filterContainer" class="collapse col-md-6">
            <form>
                <div class="row filterform">
                    <div class="col-md-6 form-group">
                        <label>Employee No:</label>
                        <input type="text" class="form-control " ng-model="users.filters.empno " />
                    </div>
                </div>
                <div class="form-group ">
                    <button class="btn btn-primary " ng-click="users.applyFilter() " data-toggle="collapse" href="#filterContainer">Apply Filter</button>
                </div>
            </form>
        </div>
        <div style="overflow-x:auto ">
            <table class="table table-striped table-bordered table-hover table-condensed ">
                <thead>
                    <th order=" 'employeenumber' " sort="sort " custom-sort>User Id
                    </th>
                    </th>
                    <th order=" 'username' " sort="sort " custom-sort>User name
                    </th>
                    </th>
                    <th order=" 'desgination' " sort="sort " custom-sort>Designnation
                    </th>
                    </th>
                    <th order=" 'woffice' " sort="sort " custom-sort>Department
                    </th>
                    </th>
                    </th>
                    <th order=" 'level' " sort="sort " custom-sort>Level
                    </th>
                    </th>
                    <th order=" 'emailid' " sort="sort " custom-sort>Email
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="x in users.users | orderBy:sort.sortingOrder:sort.reverse | filter: users.filter ">
                        <td data-label="User no: ">
                            <a ng-href="userDetails/{{x._id}} ">{{x.employeenumber}}</a>
                        </td>
                        <td data-label="User name: ">{{ x.username }}</td>
                        <td data-label="Department: ">{{x.designation}}</td>
                        <td data-label="Desgination">{{ x.woffice }}</td>
                        <td data-label="Level: ">{{ x.level }}</td>
                        <td data-label="Email: ">{{ x.emailid }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>