<div class="container">
    <div class="page-header">
        <div class="row">
            <h2 class="col-md-6">Detail of claim "{{ claimDetails.claimData.claimno }}"</h2>
            <div class="col-md-6 text-right" style="margin-top:25px;">
                <i class="fa fa-pencil-square-o" ng-class="{ 'fa-floppy-o':claimDetails.editMode}" ng-click="claimDetails.changeMode()" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label aria-labelledby="employeeno">Employee Number:</label>
            <span class="form-control" id="employeeno">{{claimDetails.claimData.empno}}</span>
        </div>
        <div class="form-group col-md-6">
            <label aria-labelledby="dischargedate">Discharge date:</label>
            <nepalidatepicker ng-model="claimDetails.claimData.dischargedate" ng-disabled="!claimDetails.editMode"></nepalidatepicker>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label aria-labelledby="claimno">Claim No:</label>
            <span id="claimno" class="form-control">{{claimDetails.claimData.claimno}}</span>
        </div>
        <div class="form-group col-md-6">
            <label aria-labelledby="reimbursedamount">Discharge Amount</label>
            <nepalimoney ng-model="claimDetails.claimData.reimbursedamount" ng-disabled="!claimDetails.editMode"></nepalimoney>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label aria-labelledby="claimname">Claim Name:</label>
            <span class="form-control" id="claimname">{{claimDetails.claimData.claimname}}</span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label aria-labelledby="contactnum">Contact number</label>
            <span class="form-control" id="contactnum">{{claimDetails.claimData.contactnum}}</span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="claimamount">Claim Amount(NRS)</label>
            <nepalimoneyreadonly money="{{claimDetails.claimData.claimamount}}" class="form-control">
            </nepalimoneyreadonly>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label aria-labelledby="claimdate">Claim Date:</label>
            <nepalidatereadonly date="{{claimDetails.claimData.claimdate}}" class="form-control"></nepalidatereadonly>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label aria-labelledby="claimoffice">Claim Office:</label>
            <span class="form-control" id="claimoffice">{{claimDetails.claimData.claimoffice}}</span>
        </div>
    </div>
</div>