<div class="container">
    <div class="page-header">
        <div class="row">
            <h2 class="col-md-6">Detail of claim "{{ claimDetails.claimData.claimno }}"</h2>
            <div class="col-md-6 text-right" style="margin-top:25px;">
                <i class="fa fa-pencil-square-o" ng-class="{ 'fa-floppy-o':claimDetails.editMode}" ng-click="claimDetails.changeMode()" aria-hidden="true"></i>
                <i class="fa fa-times" aria-hidden="true" ng-show="claimDetails.editMode" ng-click="claimDetails.cancelEdit()"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal">
            <div class="col-md-6">
                <div class="form-group ">
                    <label class="control-label col-md-6 ">Employee no:</label>
                    <div class="col-md-6 ">
                        <p class="form-control-static ">{{claimDetails.claimData.empno}}</p>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-md-6 ">Claimamount no:</label>
                    <div class="col-md-6">
                        <p class="form-control-static ">{{claimDetails.claimData.claimno}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-6 ">Claim name:</label>
                    <div class="col-md-6 ">
                        <p class="form-control-static ">{{claimDetails.claimData.name}}</p>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-md-6 ">Contact no:</label>
                    <div class="col-md-6 ">
                        <p class="form-control-static ">{{claimDetails.claimData.contactnums}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-6 ">Claim Amount(NRS):</label>
                    <div class="col-md-6 ">
                        <nepalimoneyreadonly money="{{claimDetails.claimData.claimamount}} " class="form-control-static ">
                        </nepalimoneyreadonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-6 ">Claim date (B.S):</label>
                    <div class="col-md-6 ">
                        <nepalidatereadonly date="{{claimDetails.claimData.claimdate}} " class="form-control-static "></nepalidatereadonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-6 ">Claim office:</label>
                    <div class="col-md-6 ">
                        <p class="form-control-static ">{{claimDetails.claimData.claimoffice}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label aria-labelledby="dischargedate ">Discharge date:</label>
                    <nepalidatepicker ng-model="claimDetails.claimData.dischargedate " ng-disabled="main.isAdmin && !claimDetails.editMode "></nepalidatepicker>
                </div>
                <div class="form-group">
                    <label aria-labelledby="reimbursedamount ">Discharge amount</label>
                    <nepalimoney ng-model="claimDetails.claimData.reimbursedamount " ng-disabled="main.isAdmin && !claimDetails.editMode "></nepalimoney>
                </div>
                <div class="form-group">
                    <label>Remarks:</label>
                    <textarea ng-model="claimDetails.claimData.remarks" class="form-control" cols="30" rows="10" ng-disabled="main.isAdmin && !claimDetails.editMode "></textarea>
                </div>
            </div>
        </form>
    </div>
</div>